@model IEnumerable<Dominio.Cupom>

@{
    ViewBag.Title = "ListagemCupom";
}
<div class="container">
    <h2>Listagem Cupom</h2>

    <p>
        @Html.ActionLink("Adicionar Novo", "Cupom")
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Codigo)</th>
            <th>@Html.DisplayNameFor(model => model.Valor)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
            <th>@Html.DisplayNameFor(model => model.DataCadastro)</th>
            <th></th>
        </tr>

        @foreach (Dominio.Cupom item in new Core.Controle.Fachada().Consultar(new Dominio.Cupom()).Entidades)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Codigo</td>
                <td>@item.Valor</td>
                <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                <td>@item.DataCadastro</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", null, new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Detalhes", "Details", null, new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Deletar", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>