@model Loja.Models.Carrinho.PedidoStatus

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <h2>Deletar</h2>

    <h3>Você realmente deseja deletar?</h3>
    <div>
        <h4>PedidoStatus</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.pedi.Usuario)</dt>

            <dd>
                @Html.DisplayFor(model => model.pedi.Usuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.statu.NomeStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.statu.NomeStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataStatus)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Voltar para Listagem", "Index")
            </div>
        }
    </div>
</div>