@using PagedList.Mvc;
@model PagedList.IPagedList<Loja.Models.Carrinho.PedidoStatus>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Listagem Pedido Status</h2>

    <p>
        @Html.ActionLink("Adicionar Novo", "Create")
    </p>
    @using (Html.BeginForm("Index", "PedidoStatus", FormMethod.Get))
    {
        <p>
            Procura por PedidoId : @Html.TextBox("SearchString")
            <input type="submit" value="Busca" />
        </p>
    }
    <table class="table">
        <tr>
            <th>@Html.ActionLink("Pedido", "Index", new { sortOrder = ViewBag.NomeParam })</th>
            <th>@Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.NomeStatus })</th>
            <th>Usuario</th>
            <th>@Html.ActionLink("Data Status", "Index", new { sortOrder = ViewBag.DateParam })</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            //if (User.Identity.Name == item.Usuario)
            //{
            <tr>
                <td>@Html.DisplayFor(modelItem => item.pedi.PedidoId)</td>
                <td>@Html.DisplayFor(modelItem => item.statu.NomeStatus)</td>
                <td>@Html.DisplayFor(modelItem => item.Usuario)</td>
                <td>@Html.DisplayFor(modelItem => item.DataStatus)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.PedidoId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.PedidoId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.PedidoId })
                </td>
                @if (item.StatusId == 7) {
                <td>
                    @Html.ActionLink("Autorizar", "Autorizar", null, new { id = item.PedidoId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Negar", "Negar", null, new { id = item.PedidoId }, new { @class = "btn btn-danger" })
                </td>
                }
            </tr>
            //}
        }
    </table>
</div>