@model  Tuple<Loja.Models.Carrinho.Pagamento, List<Loja.Models.Cartao>>

@{
    ViewBag.Title = "Listagem Cartões";
}

<div class="container">
    <h2>Listagem Cartões</h2>

    
    @using (Html.BeginForm("ClienteFormadePagamento2", "Checkout", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Adicionar Novo", "Create");
    </p>

    <h5>Ao escolher somente um cartão digite no campo abaixo o valor total e ecolha o cartão</h5>
            <h5>
                Ao escolher dois cartões digite no campo abaixo o valor que você quer pagar
                e escolha o cartão e aperte escolher, após isso digite novamente o valor e escolha o outro cartão.
            </h5>

     <p>Valor Total da Compra: @ViewBag.Total</p>
    <p>Valor a pagar no cartão:  @Html.TextBox("dev")</p>
    <p>Valor que valta a pagar @ViewBag.Falta</p>
    <table class="table">
        <tr>
            <th>NomeCartao</th>
            <th>NumeroCartao)</th>
            <th>DataExpira</th>
            <th>CVV</th>
            <th></th>
        </tr>
        
        @foreach (var item in Model.Item2)
        {
            if (User.Identity.Name == item.Usuario)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NomeCartao)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumeroCartao)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataExpira)</td>
                    <td>@Html.DisplayFor(modelItem => item.CVV)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", null, new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Deletar", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })
                        <input type="hidden" name="@item.Id" value="@item.Id"  />
                        <input type="submit" name="go" value="Escolher" class="btn btn-success" />
                        
                    </td>
                    
                </tr>
            }
        }
       
    </table>
    }
    <script>
        function go(atri) 
        {
            /*
            $.ajax({
                url: "Url.Action("ClienteFormadePagamento", "Checkout")",
                data: { 'cartao': atri, 'valor': document.getElementById('Item1_Valor').value },
                type: 'GET',
                context: document.body,
                timeout:300000,
                success: function (result) {
                    //do the necessary updations
                },
                error: function (result) {
                   alert('as')
                }
            });
            */
            document.href = "/Checkout/ClienteFormadePagamento?cartao=atri&valor="+document.getElementById('Item1_Valor').value;
        }


    </script>
@using (Html.BeginForm("ClienteFormadePagamento3", "Checkout", FormMethod.Post))
{
    <p>Insira Cupom:  @Html.TextBox("cup")</p>
    <input type="submit" name="go" value="Escolher" class="btn btn-success" />
}
</div>