@model Loja.Models.EstoqueProdutos
<div class="container">
    <br />
    <div>
        <h4>EstoqueProdutos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AdicionarJogo.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdicionarJogo.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fornecedor1.RazaoSocial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fornecedor1.RazaoSocial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PorcentagemPrecificacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PorcentagemPrecificacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Custo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Custo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantidade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataCadastro)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit",null, new { id = Model.Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Voltar para Listagem", "Index",null, new { @class = "btn btn-default" })
    </p>
</div>
