@using PagedList.Mvc; 
@model PagedList.IPagedList<Loja.Models.Fornecedor>
@{
    ViewBag.Title = "Listagem Fornecedores";
}
<div class="container">
    <h2>Listagem Fornecedores</h2>
    <p>
        @Html.ActionLink("Adicionar Novo", "Create",null, new { @class = "btn btn-primary"})
    </p>
    @using (Html.BeginForm("Index", "Fornecedor", FormMethod.Get))
    {
        <p>
            Procura por RazaoSocial : @Html.TextBox("SearchString")
            <input type="submit" value="Busca" />
        </p>
    }
    <table class="table">
        <tr>
            <th>@Html.ActionLink("RazaoSocial", "Index", new { sortOrder = ViewBag.NomeParam })</th>
            <th>Tipo Pessoa</th>
            <th>CNPJ</th>
            <th>Ativo</th>
            <th>@Html.ActionLink("Data Cadastro", "Index", new { sortOrder = ViewBag.DateParam })</th>
            <th></th>
            <th></th>
          

            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RazaoSocial)</td>
                <td>@Html.DisplayFor(modelItem => item.tipoPessoa)</td>
                <td>@Html.DisplayFor(modelItem => item.CNPJ)</td>
                <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
                <td>@Html.ActionLink("Editar", "Edit", null, new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Detalhes", "Details", null, new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Deletar", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Inativar", "Inativar", null, new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Ativar", "Ativar", null, new { id = item.Id }, new { @class = "btn btn-success" })
                </td>

            </tr>
            }

        </table>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ordem = ViewBag.Ordenacao }))
    </div>