@model Loja.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h2>Altere as configurações da sua conta</h2>
        <hr />
                     
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar Senha", "ChangePassword", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Criar", "SetPassword")
                }
        <br />
        <br />     
           @Html.ActionLink("Alterar seu Endereço ", "Index", "EnderecoEntrega",null, new { @class = "btn btn-primary" })
            <br />
            <br />
           @Html.ActionLink("Alterar seu Cartão ", "Index", "Cartao", null, new { @class = "btn btn-primary" })
            <br />   
            <br />
            @Html.ActionLink("Meus Pedidos ", "MeusPedidos", null, new { @class = "btn btn-primary" })
    </div>
</div>