@model Loja.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Altere as configurações da sua conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Alterar Senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <h3>Altere seu endereço @Html.ActionLink("Aqui","Index", "EnderecoEntrega")</h3>
   
</div>
