@model IEnumerable<Loja.Models.Motivo>


    <p>
        @Html.ActionLink("Adicionar Novo", "Create",null,new { @class = "btn btn-primary"})
    </p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.prodid.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.DataMotivo)</th>
            <th>@Html.DisplayNameFor(model => model.Usuario)</th>
            <th>@Html.DisplayNameFor(model => model.MotivoAtivacao)</th>
            <th>@Html.DisplayNameFor(model => model.MotivoInativacao)</th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.prodid.Titulo)</td>
            <td>@Html.DisplayFor(modelItem => item.DataMotivo)</td>
            <td>@Html.DisplayFor(modelItem => item.Usuario)</td>
            <td>@Html.DisplayFor(modelItem => item.MotivoAtivacao)</td>
            <td>@Html.DisplayFor(modelItem => item.MotivoInativacao)</td>
            <td>@Html.ActionLink("Editar", "Edit",null, new { id = item.id }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Detalhes", "Details",null, new { id = item.id }, new { @class = "btn btn-default" })</td>
            <td>@Html.ActionLink("Deletar", "Delete",null, new { id = item.id }, new { @class = "btn btn-danger" })</td>

        </tr>
    }
    
    </table>
