@model IEnumerable <Loja.Models.Produto>

<div class="container">
    <br />
    <h3>Listagem de Produtos</h3>
    <p>
        @Html.ActionLink("Adicionar Novo", "Create",null,new { @class= "btn btn-primary" })
    </p>
    @using (Html.BeginForm("Index", "Produto", FormMethod.Get))
    {
        <p>
            Procura por Titulo : @Html.TextBox("SearchString")
            <input type="submit" value="Busca" />
        </p>
    }
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.forn.RazaoSocial)</th>
            <th>@Html.ActionLink("Titulo", "Index", new { sortOrder = ViewBag.NomeParam })</th>
            <th>Plataforma</th>
            <th>Gênero</th>
            <th>@Html.DisplayNameFor(model => model.ValorFinal)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
            <th>@Html.ActionLink("Data Cadastro", "Index", new { sortOrder = ViewBag.DateParam })</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.forn.RazaoSocial)</td>
                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.plataforma)</td>
                <td>@Html.DisplayFor(modelItem => item.genero)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorFinal)</td>
                <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit",null, new { id = item.Id },new { @class="btn btn-primary"})
                    @Html.ActionLink("Detalhes", "Details",null, new { id = item.Id },new { @class="btn btn-default"})
                    @Html.ActionLink("Deletar", "Delete",null, new { id = item.Id },new { @class = "btn btn-danger" })
                    @Html.ActionLink("Inativar", "Inativar",null, new { id = item.Id },new { @class = "btn btn-warning"})
                    @Html.ActionLink("Ativar", "Ativar",null, new { id = item.Id },new { @class = "btn btn-success"})
            </td>
        </tr>
        }

    </table>
</div>
       @* Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount)
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
       *@