<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tani's Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tani's Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Trocas e Devolução", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrador<span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedor")</li>
                            <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                            <li>@Html.ActionLink("Estoque de Produtos", "Index", "EstoqueProdutos")</li>
                            <li>@Html.ActionLink("Endereco", "Index", "EnderecoEntrega")</li>
                            <li>@Html.ActionLink("CheckOut", "Index", "CheckOut")</li>
                            <li>@Html.ActionLink("Estoque de Produtos", "Index", "EstoqueProdutos")</li>
                            <li>@Html.ActionLink("Pedido", "Index", "Pedido")</li>
                        </ul>
                    </li>
                    <li class="cart1">@{Html.RenderAction("CartSummary", "CarrinhodeCompras");}</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
        @RenderBody()
        <hr />
        <footer>
            <h3>Contato</h3>
            <address>
                Campos Sales,1500<br />
                Suzano, SP 08676-000<br />
                <abbr title="Phone">P:(11) 4700-0000</abbr>
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
            <center>&copy; @DateTime.Now.Year - Design by Rodrigo Tani</center>
        </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
